@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary--color: #e78f81;
  --input--color: #f5f5f5;
}

body {
  padding: 0px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

h2,
h3 {
  font-weight: 600;
}

.heading {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
}

.profile_container {
  height: 270px;
  padding: 0px 20px;
  width: 90%;
  border: gainsboro solid 2px;
  border-radius: 10px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.account-avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: gainsboro solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 20px;
}

.user_account {
  height: 30px;
}

.personal-information {
  padding: 20px;
  width: 50%;
  border: gainsboro solid 3px;
  border-radius: 10px;
  margin: 20px 0px;
}

input[type="file"] {
  display: none;
}

.upload-button {
  display: flex;
  font-size: 10px;
  align-items: end;
  margin-top: 10px;
}

.upload-icon {
  height: 12px;
  margin-left: 4px;
}

.account-info {
  width: 100%;
  margin-left: 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.account-info input[type="submit"] {
  margin-bottom: 20px;
  width: 60px;
  background-color: black;
  height: 30px;
  color: white;
  border-radius: 4px;
  border: none;
  font-weight: 600;
}

.update-account {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.information-container input {
  display: block;
  margin-bottom: 10px;
  width: 140px;
}

.information-container {
  font-weight: 500;
}

.information-container p {
  color: green;
}

.user-image-profile {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 760px) {
  body {
    padding: 20px 10px 10px 80px;
  }

  .profile_container {
    width: 60%;
  }

  .information-container input {
    width: 240px;
  }
  .user-image-profile {
    min-width: 200px;
  }
  .account-info input[type="submit"] {
    width: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .profile_container {
    width: 50%;
  }
}
