@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary--color: #e78f81;
  --input--color: #f5f5f5;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow-y: hidden;
}

/* nav size */
.nav-container {
  height: 10%;
  width: 100%;
  padding: 10px 0px;
}

/* nav items */
.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px 20px;
}

.nav-items li:nth-child(1) {
  line-height: 0;
}

/* nav logo */
.nav-logo {
  height: 40px;
}

/* nav link items */

/* nav link items */
.nav-items li:nth-child(2) {
  display: none;
}

.nav-items li:nth-child(2) a {
  visibility: hidden;
  margin: 0px 6px;
  text-decoration: none;
  color: grey;
  font-weight: 600;
}

.nav-items li:nth-child(2) a:hover {
  color: #e78f81;
  transition: color 0.5s;
}

/* nav last item sign and login  */
.nav-items li:nth-child(3) {
  display: flex;
  align-items: center;
}

/* sign and login  */
.nav-items li:nth-child(3) a {
  /* visibility: hidden; */
  font-weight: 600;
  margin: 0px 6px;
  text-decoration: none;
}

/* sign up */
.nav-items li:nth-child(3) a:nth-of-type(1) {
  color: #e78f81;
}

/* login */
.nav-items li:nth-child(3) a:nth-of-type(2) {
  color: white;
  padding: 6px 10px;
  background-color: #e78f81;
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

/* menu icon */
.menu-icon {
  height: 30px;
  cursor: pointer;
}

/* menu pop-up */
.nav-menu {
  display: none;
  justify-content: center;

  height: 10%;
  background-color: #e78f81;
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.landing-container {
  height: 90vh;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  text-align: center;
  z-index: 10;
}

.landing-container h1 {
  line-height: 0px;
  font-size: 16px;
  font-weight: 600;
}

.landing-container p {
  color: grey;
  font-weight: 600;
  font-size: 12px;
}

.create-blogs-button {
  padding: 10px 40px;
  background-color: #e78f81;
  border-radius: 8px;
  font-size: 12px;
  color: #f5f5f5 !important;
  font-weight: 600;
  text-decoration: none;
}

#recent {
  color: #e78f81;
  font-weight: bold;
}

.bg-content {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 100%;
  width: 100%;
}

.first-bg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.second-bg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.circles {
  height: 180px;
}

/* #login-signup-container {
  visibility: hidden;
} */

#user-account {
  color: #e78f81;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#user-actions {
  display: none;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  border-radius: 4px;
  z-index: 10;
  padding: 10px 30px;
  background-color: var(--input--color);
  right: 0;
  margin-right: 20px;
}

#user-actions form {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

#user-actions a {
  margin: 4px 0px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  opacity: 70%;
}

#user-actions input {
  cursor: pointer;
  margin: 8px 0px;
  border: none;
  font-weight: 600;
  background-color: var(--input--color);
  opacity: 70%;
  font-size: 16px;
  padding: 0px;
}

#user-actions input:hover {
  color: #e78f81;
  transition: color 0.3s;
}

#user-actions a:hover {
  color: #e78f81;
  transition: color 0.3s;
}

/* Create Blogs */
#create_blogs {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.create-blogs-section {
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
}

.create-blogs-options {
  padding: 60px 30px;
}

.add_blogs_buttons {
  cursor: pointer;
  line-height: 0px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  border: #e78f81 solid 2px;
  border-radius: 4px;
  padding: 10px 0px;
  width: 100%;
}

.add_blogs_buttons:first-of-type {
  cursor: pointer;
  line-height: 0px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  border: grey solid 2px;
  border-radius: 4px;
  padding: 10px 0px;
  width: 100%;
}

.add_blogs_buttons:first-of-type p {
  color: gray;
}

.add_blogs_buttons p {
  color: #e78f81;
  font-weight: 600;
}
.add_icon {
  height: 24px;
  margin-right: 4px;
}

/* INTRODUCTION */
.introduction-container {
  min-height: 70vh;
  width: 70%;
  margin: 4px 0px;
}

.introduction-container h3 {
  color: #e78f81;
  line-height: 0;
}

.introduction-border {
  height: 90%;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: #e78f81 solid 2px;
}

.introduction-border input[for="intro-title"] {
  margin: 4px 0px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

.intro-input-container {
  display: flex;
  justify-content: space-between;
}

.introduction-border input[for="intro-category"] {
  margin: 4px 0px;
  height: 30px;
  width: 50%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

.introduction-border input[for="intro-date"] {
  margin: 4px 0px;
  height: 30px;
  width: 50%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

.intro-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.introduction-text-area {
  margin: 4px 0px;
  flex: auto;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

/* HEADER & PARAGRAPH*/
.header-container {
  min-height: 14%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4px 0px;
}

.header-border {
  height: 50%;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: #e78f81 solid 2px;
}

.header-container h3 {
  color: #e78f81;
  line-height: 0;
}

.header-border input[for="header"] {
  margin: 4px 0px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

/* IMAGE */
.image-container {
  min-height: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4px 0px;
}

.image-container h3 {
  color: #e78f81;
  line-height: 0;
}

.image-border {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: #e78f81 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* SECTION */
.section-container {
  min-height: 50%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4px 0px;
}

.section-container h3 {
  color: #e78f81;
  line-height: 0;
}

.section-border {
  height: 80%;
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: #e78f81 solid 2px;
  display: flex;
  flex-direction: column;
}

.section-border input[for="section"] {
  margin: 4px 0px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

.section-border input[for="section-content"] {
  margin: 4px 0px;
  height: 70px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

.section-img-container {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-area {
  margin: 4px 0px;
  height: 60px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  border: gray solid 2px;
}

/* breakpoints */
/* small 480 */
/* medium 760 */
/* large 1280  */

@media screen and (min-width: 480px) {
  .landing-container h1 {
    font-size: 24px;
  }

  .landing-container p {
    font-size: 12px;
  }

  .create-blogs-button {
    padding: 12px 40px;
    font-size: 14px !important;
  }
  .circles {
    height: 250px;
  }
}

@media screen and (min-width: 760px) {
  /* nav link items */
  .nav-items li:nth-child(2) a {
    visibility: inherit;
    margin: 0px 6px;
    text-decoration: none;
    color: grey;
    font-weight: 600;
  }

  .landing-container h1 {
    font-size: 40px;
  }

  .landing-container p {
    font-size: 16px;
  }

  .create-blogs-button {
    padding: 16px 60px;
    font-size: 16px !important;
  }

  .landing-content {
    padding: 0px;
  }

  .circles {
    height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-items li:nth-child(2) {
    display: flex;
  }

  /* sign and login  */
  .nav-items li:nth-child(3) a {
    visibility: inherit;
  }

  /* menu icon */
  .menu-icon {
    visibility: hidden;
  }

  .nav-menu {
    visibility: hidden;
  }

  .nav-menu {
    visibility: hidden !important;
  }

  .circles {
    height: 600px;
  }
}
